.contents {
  display: flex;
  align-items: center;
  justify-content: center;
margin-top: 10rem;
 
 
}







@keyframes rings {
  to {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.texts {
  font-size: 1.5em;
  margin-top: 40px;
  text-align: center;
  direction: ltr;  /* Direction changed to LTR */
  color: #3c2415;
}

.texts p {
  margin-bottom: 10px;
}

.texts a {
  border-bottom: 1px solid #414042;
  color: #3c2415;
  font-size: 1.2rem;
}
