/* swiperArt.module.css */
.swiperButtonNext,
.swiperButtonPrev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.swiperButtonNext {
  right: 10px;
}

.swiperButtonPrev {
  left: 10px;
}

.swiperButtonNext:after {
  content: '→'; /* Use the right arrow */
}

.swiperButtonPrev:after {
  content: '←'; /* Use the left arrow */
}
