.boxes {
    gap: 10px;
    direction: ltr;
    margin-top: 3rem;
    padding: 0 20px;
    display: flex;

    flex-wrap: wrap;
  }
  
  .contents {
    direction: ltr;

    display: flex;
    padding: 40px;
    gap: 10px;
  }
  